/* ====== FONT ====== */

@font-face {
  font-family: "AndaleMono";
  src: url("fonts/andalemo.ttf");
}

/* ====== COLOR VARIABLES ====== */

:root {
  --bg-color: #060606;
  --font-color: #949494;

  --secondary-color: #d7bce6;
  --track-color: #2e2e2e; /*3b3b3b ; */
	--thumb-color: #4e4f52; /* 66686b  */

  --nav-bg: #3b3b3b;
  --navMin-bg: #333333;
  --nav-border: black;
  --button-hover: #737373;
  --button-text: #949494;
  --main-border: black;

  --color-text: #8998b0;
	--highlight-bg: #97acd1;
	--highlight-text:#060606 ;
	--underline-text: #949494;

	--border-color: #949494;

 	--link-text: #99bfcc;
 	--link-hover-bg: #99bfcc; /* 99bfcc;*/ 
 	--link-hover-text: #425d61;

 	--session-hover: #99bfcc;
 	--session-text: #99bfcc;
 	--session-bg:#060606;
}

[data-theme="moonlight"] {
	--bg-color: #f0f0f0;
	--font-color: black;

	--secondary-color: #d7bce6;
	--track-color: #404040; /*3b3b3b ; */
	--thumb-color: #828282; /* 66686b  */

	--nav-bg: #c9c9c9;
  --navMin-bg: #c9c9c9;
  --nav-border:#a8a8a8;
  --button-hover: #66686b;
  --button-text: black;
  --main-border: #a8a8a8;

	--color-text: #1797cf;
	--highlight-text: black;
	--highlight-bg: #97acd1;
	--underline-text: black;

	--border-color: black;

	--link-text: #5685c7; /* 99bfcc;*/ 
	--link-hover-text: #e0e0e0;
	--link-hover-bg: #5685c7;

	--session-hover: #828282;
 	--session-text: #404040;
 	--session-bg: #c9c9c9;
}

/* ====== PAGE STYLING ====== */

::selection { 
	background-color: var(--secondary-color);
	color: var(--bg-color);
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
}


/* ====== BODY ====== */

* { 
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	-webkit-font-smoothing: none;
	color: var(--font-color);
	font-family: AndaleMono, monospace;
	font-weight: lighter;
}

body { 
	margin: 0;
	height: 100%;
	background-color: var(--bg-color);
} 

/* ====== BACKGROUND  ====== */

#clockbox {

	position: fixed;
	bottom: 1px;
	right: 1px;
	color: var(--font-color);
	font-size: 14px;
	background-color: var(--bg-color);
	padding: 5px;
		border: 2px ridge var(--nav-border);



}

.background {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	padding: 20px;

	background-image: url("images/blanket_of_sand.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;


	/*
	background: rgb(180,180,180);
	*/
}

.background-min {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	padding: 20px;
	background-image: unset;
	background-color: var(--bg-color);
	overflow-y: scroll;
}

/* ====== NAVIGATION ====== */

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	width: 100%;
	max-width: 860px;
	margin: auto;
	margin-bottom: 0px;
	padding: 0px;
	background-color: var(--nav-bg);
	border: 2px ridge var(--nav-border);
	border-bottom: 0px;
}

.background-min > .navigation {
	background-color: var(--navMin-bg);
	border: unset;
}

.background-min > .navigation > .nav-box > .nav-button {
color: var(--button-text);
border: unset;
}

.background-min > .navigation > .nav-box > .nav-text {
color: var(--button-text);
border: unset;
}

.nav-box {
	display: flex; 
	flex-direction:row; 
	height: 100%;
	width: 100%;
}

.nav-box > .nav-button{
display: flex;
flex-grow: 1;
align-items: center;
justify-content: center;
text-align: right;
height: 100%;
padding-bottom: 3px;
margin: 0;
border: 2px ridge var(--nav-border);
color: var(--button-text);
}


.nav-button:hover {
	cursor: pointer;
	background-color: var(--button-hover);
	color: var(--button-text);
}

.nav-text { 
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 2px ridge var(--nav-border);
	color: var(--button-text);
 }

/* ====== MAIN SCREEN ====== */

main { 
	clear: both;
	height: 86%;
	width: 100%;
	max-width: 860px;
	margin: auto;
	margin-top: 0px;
	padding: 30px 80px 80px 80px;
	background-color: var(--bg-color); /* 060606*/
	border: 2px ridge var(--main-border);
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden; 
}

.background-min > main {
	clear: both;
	height: 100%;
	width: 800px;

	margin: auto;
	padding: 0px;

	background-color: var(--bg-color); /* 060606*/
	border: 0px;
  
  overflow-y: unset;
  overflow-x: unset;
}

main.edit {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 14px;
}

/* ====== TEXT  ====== */

/* headers */

h1 {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 2em;
		margin-top: 1.55em;
}

.background-min > main > h1 {
	margin-top: 4em;
}

h1:before {
	content: '{ ';
}

h1:after {
	content: ' }';
}

h3 {
	font-size: 16px;
	line-height: 1.55;
	font-weight: normal;
	margin-bottom: 1.55em;
	margin-top: 2.5em;
	border-bottom: 1px solid var(--underline-text);
}

h4 {
	font-size: 16px;
	line-height:1.55;
	font-weight: normal;
	margin-bottom: 1.55em;
	margin-top: 2.5em;
}

/* paragraph text */

p { 
	line-height:1.55;
}

p.small {
	line-height:1.35;
	margin-bottom: 2em;
}

.entry > p {
	line-height:1.35;
	margin-bottom: 2em;
}

.story > p {
	line-height:1.35;
	margin: 0;
	padding-bottom: 0px;
}

.story > p:before {
	content: "\a0\a0\a0\a0";
}


.chapterBreak {
	margin: 3.5em;
}

span {
	margin-top: 2em;
	margin-bottom: 4em;
}

span.bold {
font-weight: 600;
}

span.italic {
	font-style: italic;
}
span.color {
	color: var(--color-text);
}

span.highlight {
	background-color: var(--highlight-bg);
	color: var(--highlight-text);
}

span.underline {
	border-bottom: 0.1px solid var(--underline-text);
}

/* quote */

blockquote { 
	line-height:1.55;
	border: 1px dotted var(--border-color);
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 1.55em;
		margin-bottom: 1.55em;
 }

/* table */

table {
	width: 100%;
	margin-bottom: 2em;
}

td, th, table {
	border: solid 1px var(--border-color);
}

td, th {
	padding: 2px;
	padding-left: 4px;
	vertical-align: top;
}

.image-table {
	table-layout: fixed;
}

.table-img {
margin: auto;
}

td > ul {
	line-height:1.55;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  margin-top: 0;
	  margin-bottom: 0;
	  list-style-type: square;
}

td > ul > li {
		line-height:1.55;
		padding: 0px;
}

/*list */

ul, ol {
  padding-left: 30px ;
  padding-top: 8px;
}

ul li, ol li {
	line-height:1.55;
	padding-bottom: 4px;
}

.link-list {
	list-style-type: none;
	padding: 0px;
}

.link-list li {
	line-height: 1.55em;
	padding: 0;
}

/*links */


a.middle{
	text-align: center;
	border: 1px solid grey;
	padding: 5px;
	color: var(--session-text);
	background-color: var(--session-bg);
}

a.middle:hover {
	background-color: var(--session-hover);
}

a {
	color: var(--link-text);
	padding: 2px;
	margin: 0px;
}

a:hover { 
	background-color: var(--link-hover-bg);
	color: var(--link-hover-text);
} 

hr {
border-style: solid;
border-width: 0.001em;
}

/* ====== MEDIA ====== */

figure {
display: table; 
padding: 0;
margin: 0;
height: auto;
}

img {
	display: block;
	padding: 0;
	margin: 0;
	height: auto;
	border: 0.1px solid var(--border-color);
}

figcaption {
	display: table-caption; 
	caption-side: bottom; 
	margin: 0;
	padding: 4px;
	border: 0.1px solid var(--border-color);
	border-top: 0px;
}

.videoFig > figcaption{
	border: 0.1px dotted var(--border-color);
	border-top: 0px;
}

.fullImg {
	margin-bottom: 2em;
	width: 100%;
}

.fullImg img { 
	width: 100%;
 }

 .centerImg {
	margin: auto;
	margin-bottom: 2em;
 }

.centerImg img {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

video {
	border: 0.1px dotted var(--border-color);
	padding: 0;
	margin: 0;
}

audio {
   height: 25px;
   filter: opacity(50%);
}

/* -------- IMAGE FLOAT */

figure.float-R {
	float: right;
	margin-left: 20px;
	margin-top: 0;
	margin-right: 0px;
}

figure.float-L {
	float: left;
	margin-right: 20px;
	margin-top: 0;
	margin-left: 0px;
}

.clearFloat {
	clear: both;
}

/* --------- IMAGE SIDE BY SIDE VIEW */


.imageWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 2em;
}
.imageWrap img {
  display: block;
  max-width: 100%;
  max-height: 380px;
}

.imageWrap video {
  display: block;
  max-width: 100%;
  max-height: 380px;
}


/* IMAGE MODAL  */

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none; /* lets interactions with text persist */
}

.modal-content {
		display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: var(--bg-color);
    padding: 0px;
    border-radius: 0px;
    border: 2px ridge var(--main-border);
    z-index: 2; 
    pointer-events: auto; 
    resize: both; /* let user resize boxes*/
    overflow: auto;
}

.modal-header {
    position: sticky; 
    top: 0; 
    z-index: 3;
    height: 25px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: var(--nav-bg); 
    border: 2px ridge var(--nav-border);
}

.modal-content img {
    width: 100%;
    height: auto;
    border: 0px;
}

.modal-caption {
    flex-grow: 1;
}

.close {
		margin: 0px;
		width: auto;
		height: 100%;
		padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
		color: var(--font-color); 
    background-color: var(--nav-bg); 
    border: 2px ridge var(--nav-border);
  	cursor: pointer; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: red;
}

/* ====== RESPONSIVE ====== */

@media screen and (max-width: 800px) {
	main {
		font-size: 15px;
		max-width: 100%;
		margin: 0px;
		padding: 2.5em;
		padding-top: 1.6em;
		height: 100%;
	}

	.background {
		padding: 0;
	}

	#fullScreen {
		display: none;
	}
}


@media screen and (max-width: 500px) {
	main {
		font-size: 14px;
		max-width: 100%;
		margin: 0px;
		padding: 2.5em;
		padding-top: 1.6em;
		height: 100%;
	}

	.background {
		padding: 0;
	}

	#fullScreen {
		display: none;
	}

	.nav-text {
		font-size: 10px;
	}

	img.float-L {
	float: unset;
}
}

